.todoList {
  margin-top: 20px;
}

.table_header_row {
  --bs-table-bg: #9e9fa1;
  --bs-table-color: #fff;
}

.table_body_category {
  text-transform: capitalize;
}

.button_header_archived {
  background-color: #9e9fa1;
  color: #fff;
  border: 0px;
}

.active {
  display: none;
}